.wrap{
    /* background-image: url("backgorund.png"); */
    width: 300px;;
    height: 300px;
    text-align: center;
    position: relative;
    vertical-align: middle;
    background-color: bisque;
    border:4px solid palegoldenrod;
    border-radius: 20%;
}
.first{
    position: absolute;
    top: 5%;
    left: 27%;
    border: 4px solid rgb(220, 58, 220);
    padding: 9px;
    border-radius: 10%;
}
.second{
    position: absolute;
    top: 35%;
    left: 23%;
    border: 4px solid rgb(16, 139, 226);
    padding: 9px;
    border-radius: 10%;
}
.third{
    position: absolute;
    top: 65%;
    left: 23%;
    border: 4px solid rgb(83, 30, 169);
    padding: 9px;
    border-radius: 10%;
}
