*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: #323275;
    font-family: 'Roboto', sans-serif;
    /*color: #fff;*/
    text-align: -webkit-center;
}
.list{
    list-style: none;
    display: block;
    width: fit-content;
    text-align: justify;
}
.list li {
    margin-top: 5px;
}
.container {
    border-radius: 60px;
    display: block;
    width: 850px;
    border: solid 5px #ccc;
    margin-top: 38px;
    background-color: rgba(66, 157, 238, 0.5);
    box-shadow: 4px 4px 40px #000;
}
.text-item {
    font-size: 16px;
    font-weight: 500;
    margin: 15px 0 6px;
}
.chart {
    display: inline-block;
    width: 700px;
    height: 450px;
    margin-block: 12px;
}
.output-y2 {
    font-size: 14px;
    font-weight: 400;
}
.input-valueX2 {
    display: none;
}
#inputValueX, #inputValueY, #inputValueX2 {
    width: 300px;
    border-radius: 5px;
    border: solid 2px #3a3838;
    box-shadow: 0 1px 10px #fff;
}

#inputValueX2 {
    margin-bottom: 15px;
}

#button-click, #button-for-inputValueX2 {
    display: block;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    background-color: chartreuse;
}

#button-click:hover, #button-for-inputValueX2:hover {
    transform: scale(1.1);
    background-color: #22b01d;
    color: #fff;
}