* {
    margin: 5;
    padding: 5;
    box-sizing: border-box;
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 20px;
  font-weight: regular;
  line-height: 3.0;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.3em;
}